h3 Students Waiting For Help
table.table
  tr
    th Name
    th NetID
    th Question
    th Time Waiting
  each student in list
    tr
      td= student.name
      td= student.netId
      td= student.question
      td= student.enqueueTime
